/* CSS Reset */
*{

    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{
    --navbar-hright: 59px;
}


/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 20px;
}

/*Navigation Bar:  Logo and Images */

#logo{
    margin: 5px 5px
}

#logo img{
    height: 60px;
    margin: 5px 5px

}
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Bebas Neue', cursive;
}


#navbar ul li{
    
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 510px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../backg1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

/* Service section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #fffae5;
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}

#services{}
#services{}
#services{}
#services{}


/* Utility Class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Lobster', cursive;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Pacifico', cursive;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: magenta;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
